h1{
    text-align: center;
    color: rgb(17, 17, 96);
}

body{
    width: 100%;
    min-height: 100hv;
    background-color: rgb(203, 236, 229);
    padding: 10px;
}

.form-box{
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    margin: 40px auto 20px;
    padding: 40px 30px 70px;
    box-shadow: 30px 30px 30px #afafaf;
}

.name{
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 5px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px grey;
}

select{
    padding: 3px;
}

button{
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #afafaf;
    cursor: pointer;
}


